body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;

}

.tengah {
    text-align: center;
}


h1 {
    color: #000000;
}




p {
    color: rgb(0, 0, 0);
    font-size: 18px;
}

.warna01 {
    color: rgb(11, 0, 0);
    font-family: Arial;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 10px;

}





.navbar {
    background-color: black;
    padding: 12px;
    display:flex;
    justify-content: center;
    margin: 0 15px;
    gap: 20px;
    align-items: center;
    position: sticky;
    top: 0;


}

.navbar a {
    color: rgb(254, 254, 254);
    margin-right: 10px;
    text-decoration: none;
    display: center;
    margin:  0 15px;
    transition: 0.3s;
    padding: 6px 12px;
    border-radius: 6px;


}

.navbar a:hover {
    color: yellow;
    background-color: #444;
}

.back03 {
    background-color: rgb(220, 35, 207);
    padding: 50px;
    margin: 20px;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 10px;
    display: center;

   


    
}


.back01 {
    background-color: rgb(220, 35, 207);
    padding: 15px;
    box-shadow: 0px 0px 10px gray;
    display:flex;
    justify-content: center;
    gap: 15px;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 10px;



}

.card {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0,1);
    max-width: 500px;
    margin: 20px auto;
    border-radius: 10px;

    

}



img {
    width: 200px;
    border-radius: 10px;
    margin: 15px auto;
    max-width: 500px;
    border-radius: 10px;
    display: block;


}


.box {
    display: flex;
    justify-content: center;
    gap: 10px;
}


.container {
    display: flex;
    justify-content: center;

}

.layout{
    display: flex;
    gap: 20px;
    justify-content: center;
}




@media (max-width: 600px) {
    body {
        background-color: rgb(244, 202, 239);
    }



    .layout {
        flex-direction: column;
    }
    


    img {
    max-width: 100%;
    height: auto;
    }


    h1 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
    }

    .navbar {
        flex-direction: column;
        

    }







}